<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Developer and Tech Leader, I have worked on a wide variety of business applications and try to stay updated with new languages, frameworks and tools in the market trends. <br/> <br/>
			I've been focusing on do and deliver clean code in a way ease to maintain, attending quality and business requirements.
		</div>
		<br>
	</div>
</div>
